@import url(fontiran.css);

body {
  font-family: iranyekan !important;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

/* استایل مربوط به اسلایدر OWL */

.owl-theme .owl-dots .owl-dot span {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  width: 20px !important;
  height: 3px !important;
  margin-left: 7px !important;
  margin-right: 7px !important;
  background: #00b8d4 !important;
  border: none !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #00e5ff !important;
}

/* استایل مربوط به اسلایدر OWL */

.main-picture {
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1-sec {
  font-size: 22px;
}
.p-sec {
  font-size: 16px;
  color: #7a7a7a;
}
.img-sec {
  width: 436px;
  height: 430px;
}

.main-menu {
  background-color: #489f968a !important;
}

.menu-socails {
  color: #fff;
  font-size: 38px;
}
.menu-socails:hover {
  color: #fff;
}

.secProperty-bg {
  background-image: linear-gradient(170deg, #09a6a6 5%, #09668e 100%);
}

.secProperty-des {
  font-size: 14px;
}

.secApplications {
  background: linear-gradient(170deg, #09a6a6 5%, #09668e 100%);
}

.secApplications-img {
  max-width: 500px;
}

.secApplications-h4 {
  font-size: 32px;
}

.secApplications-h3 {
  line-height: inherit;
  font-size: 32px;
}

.secApplications-p {
  font-size: 24px;
  line-height: 50px;
}

.videoholder {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoholder video {
  position: absolute !important;
  top: 0;
  right: auto;
  min-width: 150%;
  min-height: 100%;
}
.videoholder .video-overlay {
  position: absolute !important;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, #09a6a6 5%, #09668e 100%);
  opacity: 0.9;
  z-index: 0;
}

span.overlay {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
span.overlay::after {
  background: linear-gradient(170deg, #09a6a678 5%, #09668e6b 100%);
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.inner-holder {
  z-index: 99;
}
.inner-holder h3 {
  background: #00000096;
  color: #fff;
  font-size: 24px;
  padding: 11px 20px;
  border-radius: 4px;
}

.video-box,
.video-box-video {
  height: 600px;
}

/* اسلایدر ویدیو */
.splide__slide img {
  width: 100%;
  height: auto;
}
.splide__slide {
  opacity: 0.3;
}

.splide__slide.is-active {
  opacity: 1;
  border: none !important;
}

.splide--nav
  > .splide__slider
  > .splide__track
  > .splide__list
  > .splide__slide,
.splide--nav > .splide__track > .splide__list > .splide__slide {
  border: none !important;
}
/* اسلایدر ویدیو */

.certificate-img {
  width: 385px;
  height: 490px;
}

.company-logo {
  width: 150px;
  height: auto;
}

.media-sec {
  height: 400px;
  overflow: hidden;
  margin: 140px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.articles-title {
  font-size: 34px;
}

.articles-card {
  height: 340px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 57px;
  overflow: hidden;
  position: relative;
}

.articles-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    30deg,
    rgba(187, 169, 5, 0.6502801804315477) 0%,
    rgba(2, 0, 36, 0) 50%
  );
}

.articles-card-content {
  background: #2898f170;
  padding: 45% 20px;
  transition: all 300ms ease-out;
  opacity: 0;
  right: -300%;
  z-index: 999;
}
.articles-card:hover .articles-card-content {
  right: 0;
  opacity: 1;
}

.articles-card-content a {
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.button-menu {
  border: none;
}

.button-menu:focus {
  box-shadow: none;
}

.button-close:focus {
  box-shadow: none;
}

.img-menu {
  height: 100vh;
  width: 100%;
}

.offcanvas-start {
  border-left: 0px;
}
/* پایان منو */

.text-novasi,
.text-p-artboard,
.logo-p-footer,
.departman-p2,
.p-sc {
  text-align: justify;
}

.pic-m-novasi {
  height: 400px;
  width: 100%;
  background-size: cover !important;
  background-attachment: fixed !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 500px 36px -18px inset;
}

.gr-novasi {
  background: linear-gradient(0deg, #09668e 0%, #0cb0b3 100%);
}

.bnr-novasi {
  border-radius: 30px;
}

.h-novasi {
  background: -webkit-linear-gradient(#09668e, #0cb0b3);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Square {
  height: 80%;
  width: 60%;
  background: linear-gradient(90deg, #0cb0b3 0%, #09668e 100%);
  border-radius: 0px 0px 0px 25px;
}

.supercool-img {
  left: -160px;
  top: 190px;
}

.supercool-image {
  top: 190px;
}

.icon-b1 {
  left: 260px;
  top: 370px;
}

.icon-b2 {
  left: 360px;
  top: 430px;
}

.icon-b3 {
  left: 290px;
  top: 270px;
}

.text-h1 {
  width: 100%;
  top: 30%;
}

.text-h4 {
  font-family: IRANYekan !important;
}

.tl-menu {
  bottom: 200px;
  left: 10%;
}

.button-one {
  border-radius: 20px;
  background: linear-gradient(90deg, #0cb0b3 40%, #09668e 100%);
  width: 200px;
  height: 60px;
  border: none;
}

.progress-sc {
  border-radius: 0px 0px 20px 20px;
}

.progress-insc {
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(0deg, #09668e 0%, #0cb0b3 100%);
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f373af;
  position: absolute;
  left: 25%;
  top: 35px;
}

.circle-2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f373af;
  position: absolute;
  left: 50%;
  top: 35px;
}

.circle-3 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f373af;
  position: absolute;
  left: 75%;
  top: 35px;
}

.text-circle {
  color: #f373af;
  display: block ruby;
  float: left;
  margin-left: 25px;
}

.fa-chevron-left {
  font-size: 3rem;
  color: #09668e;
}

.s-header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #2bb896 0%, #09668e 100%);
}

.cloud {
  top: 140px;
  right: 240px;
}

.cloud2 {
  top: 196px;
  right: 200px;
  width: 300px;
}

.cloud3 {
  top: 226px;
  right: 100px;
  width: 180px;
}

.battery {
  right: 100px;
  top: 100px;
  width: 600px;
}

.btn-header {
  border-radius: 20px;
  color: #2bb896;
}

.btn-header:hover {
  color: #fff;
  border: 1px solid #fff;
  background: none !important;
}

.banner {
  position: relative;
  background-image: url(../images/3-scaled.jpg);
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 500px 36px -18px inset;
}

.text-banner {
  top: 150px;
  left: 100px;
  line-height: 50px;
}

.departman-p {
  border-radius: 20px;
  background: linear-gradient(90deg, #2bb896 0%, #09668e 100%);
}

.btn-departman {
  border-radius: 0px 50% 50% 0px !important;
}

.btn-departman,
.btnm-departman,
.btnb-departman {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px !important;
  width: 5px !important;
  background-color: #28c2d2 !important;
}

.btnb-departman {
  border-radius: 50% 0px 0px 50% !important;
}

.carousel-main {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 100px;
  right: 50%;
}

.mahsulat {
  background: linear-gradient(90deg, #2bb896 0%, #09668e 100%);
  border: none;
  border-radius: 0px 0px 25px 25px;
  left: -35px;
  top: 50%;
  transform: rotate(-90deg);
  width: 100px;
  height: 40px;
  padding: 10px;
}

.bg-saniva {
  background-image: url(../images/saniva-battery.png);
}

.text-artboard {
  padding: 20% 0;
}

.bg-footer {
  background: linear-gradient(90deg, #0cb0b3 0%, #09668e 100%);
}

.logo-footer {
  width: 40%;
  margin-top: 200px;
}

.address-footer {
  margin-top: 200px;
}

.logo-aspx {
  height: 130px;
}

.bg-mahsulat {
  background: linear-gradient(90deg, #86e6f7 0%, #0cb0b3 100%);
}

.li-mahsulat1:hover,
.li-mahsulat2:hover,
.li-mahsulat3:hover,
.li-mahsulat4:hover {
  list-style-type: none;
}

.li-mahsulat1 {
  margin-right: 50%;
  height: 40px;
  width: 175px;
  border-radius: 25px;
}

.li-mahsulat2 {
  margin-right: 50%;
  height: 40px;
  width: 175px;
  border-radius: 25px;
}

.li-project2 {
  margin-right: 50%;
  height: 40px;
  width: 180px;
  border-radius: 25px;
}

.li-mahsulat3 {
  margin-right: 50%;
  height: 40px;
  width: 175px;
  border-radius: 25px;
}

.li-mahsulat4 {
  margin-right: 50%;
  height: 50px;
  width: 230px;
  border-radius: 25px;
}

.btn-mahsulat1:hover,
.btn-mahsulat2:hover,
.btn-mahsulat3:hover,
.btn-mahsulat4:hover {
  background-color: #fff;
  transition: 0.3s all;
}

/*  */

.li-mahsulat {
  font-size: 22px;
  width: fit-content;
}
.li-mahsulat:hover {
  background: #fff;
  list-style: none;
  width: fit-content;
  border-radius: 10px;
}

.limahsulat:hover .const-pic {
  display: none;
}

.product {
  border-radius: 35px;
  display: none;
}

.li-mahsulat-active {
  background: #fff;
  list-style: none;
  width: fit-content;
  border-radius: 10px;
}

.product-img {
  width: auto;
  height: 100%;
  max-height: 260px;
}

.bg-product {
  background: rgba(255, 255, 255, 0.8);
}

.slider-img {
  position: relative;
}
.slider-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(170deg, #09a6a678 5%, #09668e6b 100%);
}

.slider-item {
  z-index: 1;
  top: 70%;
}

.bg-search {
  background: #eeeeee;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}
.form-control:focus {
  box-shadow: none !important;
  background: #eeeeee !important;
}

.bg-search-ico {
  background: -webkit-linear-gradient(#24c6dc, #514a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-button {
  background: linear-gradient(110deg, #24c6dc 5%, #514a9d 100%);
  border: 0;
}

.overlay-home::after {
  background: linear-gradient(170deg, #ec6f664a 15%, #f3a1837d 100%) !important;
}
